<input type="number" placeholder="Enter id to update todo" [(ngModel)]="id">
<br>
<input type="text" placeholder="New task here" [(ngModel)]="task">
<br>
<input type="text" placeholder="Completed (true/false)" [(ngModel)]="completed">
<br>
<input type="submit" (click)="UpdateTodo(id, task, completed)" (click)="GetAllTodos()">


<div>
    <p *ngFor="let todo of searchedArray;">

      <s class="strikeThrough" *ngIf="todo.completed === true; else notDone">
        {{todo.id}} | Task: {{todo.task}}
      </s>
      <ng-template #notDone>
        {{todo.id}} | Task: {{todo.task}}
      </ng-template>
    </p>
</div>